
include vendor/lipsum
extends partials/layout

block title
	title chromeApp_init:)
block styles
	link(rel="stylesheet", href="styles/main.css", type="text/css")

block content
	.row
		.col-md-12
			.page-header.text-center
				h3 Hello,world!